*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    
}
body{
     background-image: url(OIP\ \(5\).webp);
     
    
}
h1{
    color: darkblue;
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 50px;
    
}
.selecao{

    text-align: center;
    margin-top: 50px;
}
.botoes-geral{

    display: flex;
    
}
.botao{

    margin-bottom:150px;
    margin-left: 10px;
    padding: 10px;

    font-size: 50px;
    position: relative;
    left:375px;
    top: 130px;

    font-family: 'Cherry Cream Soda', cursive;
    border-radius: 20px;
    color: chocolate;
    background-color: rgb(29, 6, 120);
    cursor:pointer;
    
}
.botao:hover{
    background-color: chocolate;
    color:rgb(29, 6, 120); ;
}

.created-by {
    margin-top: 100px;
    margin-right: 20px;
    text-align: end;
    font-size: 10px;
    
}
